body {
    background-color: rgb(135, 110, 215);
}

.voting {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: whitesmoke;
}

button {
    width: 250px;
    align-self: center;
    margin-top: 20px;
    margin: auto;
    margin-top: 15px;
    padding: 10px 10px;
    border-radius: 5px;
    border: 2px solid rgb(65, 44, 132);
    background-color: white;
    color: whitesmoke;
    background: blueviolet;
    font-size: large;
    cursor: pointer;
}

.btn-results{
    margin-top: 50px;
    background-color: rgb(74, 117, 74);
}
